<%= link_to 'Log Out', logout_path, method: :delete %>

<h1>List of Pages</h1>

<%= link_to 'New Page', new_page_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Links</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
        <td><%= page.links.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pages %>